body {
  font-family: "Roboto", sans-serif;
  background: #2BC0E4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
  width: 360px;
  margin: 6% auto;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border: 2px solid gray;
}

h1 {
  background-color: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

li {
  background-color: white;
  height: 40px;
  line-height: 40px;
  color: #666;
  padding-left: 5px;

}

li:nth-child(even) {
  background-color: #f7f7f7;
}

input {
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  border: 2px solid #f7f7f7;
}
input:focus {
  background-color: #fff;
  outline: none;
  border: 2px solid #2980b9;
}

.completed {
  text-decoration: line-through; color: gray;
}

.fa-arrows-v {
  float: right;
}

span {
 background-color: #e74c3c;
 color: white;
 height: 40px;
 text-align: center;
 width: 0px;
 display: inline-block;
 transition: 0.2s linear;
 opacity: 0;
 float: right;
}
 li:hover span {
       width: 40px;
       opacity: 1;
  }

